body {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

.org {
    color: orange;
}

.flexible-container {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 100%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}

.top-banner {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    margin: 0;
}

.dream-big {
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.half {
    width: 50%;
    padding-left: 5%;
    background-image: linear-gradient(blue, red);
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px rgb(149, 182, 190);
}

.experience-area {
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#ful-stack {
    border-left: 7px solid;
    border-image: linear-gradient(rgb(96, 226, 27), salmon);
    border-image-slice: 1;
}

#baby-dev {
    border-left: 7px solid;
    border-image: linear-gradient(rgb(6, 49, 223), rgb(235, 228, 5));
    border-image-slice: 1;
}

.w-experience {
    margin-top: 25px;
    display: flex;
    /* border: 2px solid red; */
}

.w-exp {
    border-left: 10px solid;
    /* border-image: linear-gradient(rgb(37, 13, 135)), (rgb(234, 223, 7));
    border-image-slice: 1; */
    border-image: linear-gradient(rgb(6, 49, 223), rgb(235, 5, 124));
    border-image-slice: 1;
    box-shadow: rebeccapurple;
    padding: 5%;
    margin-left: 5%;
    box-shadow: 10px 10px 40px rgb(23, 159, 30);
}

footer {
    text-align: center;
    margin-top: 20px;

}